channels
channels_redis
docutils
Django
django-allauth[socialaccount,mfa]
django-otp  # this is required for the allauth two-factor migration, but can be removed after that
django-waffle
psycopg2-binary
django-environ
djangorestframework
djangorestframework-simplejwt
dj-rest-auth
django-cors-headers
django-health-check
drf-spectacular
django-anymail[mailgun]  # email services
django-hijack
celery-progress
celery
celery[redis]
django-celery-beat
sentry-sdk
whitenoise[brotli]
pillow
